body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}
header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
nav a:hover {
  color: #007acc;
}
main {
  padding: 40px 20px;
  text-align: center;
}
iframe {
  margin: 20px auto;
  display: block;
  max-width: 100%;
  box-shadow: 0 0 10px #ccc;
}
footer {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

section h2 {
  border: 2px solid #000;
  padding: 12px 20px;
  border-radius: 6px;
  display: inline-block;
  font-size: 1.4em;
  background-color: #fff;
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}

