name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    # [핵심] 깃허브 컴퓨터에 '임시 MongoDB'를 설치해주는 설정
    services:
      mongodb:
        image: mongo:5.0
        ports:
          - 27017:27017

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        
    - name: Install dependencies
      run: npm install

    - name: Test Server Startup
      # MongoDB 서비스가 있으므로 서버가 정상적으로 켜졌다가 꺼집니다.
      run: |
        timeout 10s node backend/server.js || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi
